# Copyright(C) 2023-2025 Advanced Micro Devices Inc.  All Rights Reserved.

report_level=2

[vivado]

[advanced]

[connectivity]
  nk=image_processing:1
  sp=image_processing_1.m_axi_mm_video:LPDDR

[clock]
  freqHz=300000000:image_processing_1
